


/* ///////
Home */



.users-wrap {
  width: 25%;
  border-left: 1px solid black;
  padding: 25px;
  overflow: scroll;
}

.main-wrap {
  width: 50%;
  padding: 25px;
  overflow: scroll;
}
.teams-wrap {
  padding: 25px;
  width: 25%;
  overflow: scroll;
  border-right: 1px solid black;
}




/* ////
messages */

.main-container{width: 100%;
  display: flex;
  flex-direction: column;}
.main-title{margin: 0;
  margin-bottom: 15px;
  color: hsl(261.72deg 25% 45.49%);
  font-size: 20px;
  text-align: center;}
.message-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: black;}
.message-wrap{display: flex;
  align-items: center;
  margin-bottom: 1rem;}
.message-user{margin: 0;
  margin-bottom: 5px;
  color: #000000a6;
  font-size: 1rem;}
.message-text{    margin: 0;
  margin-bottom: 5px;
  font-size: 0.9rem;}
.message-time{font-size: 0.7rem;
  color: #767876;}
.message-wrap-text  {background-color: hsl(269.09deg 32.04% 79.8%);
    padding: 10px;
    border-radius: 7px;}